<h1 id="tableLabel">Employees</h1>
<p *ngIf="!employees"><em>Loading...</em></p>
<div *ngIf="employees">
  <div class="row mb-3">
    <div class="col-6 mt-3">
      <em *ngIf="employees.length == 0">Add an employee to get started.</em>
    </div>
    <div class="col-6">
      <button class="btn btn-primary float-right" [routerLink]="['/manage']">Add Employee</button>
    </div>
  </div>
  <div>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Married?</th>
          <th>Other Dependents</th>
          <th>Cost Per Year</th>
          <th>Cost Per Period</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="employees.length > 0">
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeIdentifier }}</td>
          <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          <td>{{ employee.spouse ? 'Y' : 'N' }}</td>
          <td>{{ employee.dependents ? employee.dependents.length : '0' }}</td>
          <td>{{ employee.totalYearlyNetBenefitsCost | number:'.2-2' }}</td>
          <td>{{ employee.payPeriodNetBenefitsCost | number:'.2-2' }}</td>
          <td>
            <button class="btn btn-sm btn-secondary mr-1" [routerLink]="['/manage',employee.id]">Update</button>
            <button class="btn btn-sm btn-danger" (click)="removeEmployee(employee.id)">Remove</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="employees.length == 0">
        <tr>
          <td colspan="7" class="text-center">
            <em>There are currently no employees.</em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
