<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <p *ngIf="isLoading"><em>Loading...</em></p>
  <div *ngIf="!isLoading" class="row">
    <div class="col-6 border-right">
      <div class="row">
        <div class="col-6">
          <h3>Employee Info</h3>
        </div>
        <div class="col-6">
          <button type="submit" [attr.disabled]="employeeForm.invalid ? 'disabled' : null" class="btn btn-primary float-right">Save All</button>
        </div>
      </div>
      <div class="form-group">
        <label for="employeeIdentifier">Employee Identifier</label>
        <input [(ngModel)]="upsertEmployee.employeeIdentifier" [attr.disabled]="isUpdatingExistingEmployee ? 'disabled' : null" [ngClass]="{'form-submitted': formSubmitted}" formControlName="employeeIdentifier"
               (focusout)="getEmployeeIdentifierExists()"
               class="form-control" id="employeeIdentifier" placeholder="Employee Identifier">
        <small *ngIf="employeeIdentifierExists" id="employeeIdentifierHelp" class="text-danger">This value is assigned to another employee.</small>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="firstName">First Name</label>
          <input [(ngModel)]="upsertEmployee.firstName" formControlName="firstName" [ngClass]="{'form-submitted': formSubmitted}" required name="firstName" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-6">
          <label for="lastName">Last Name</label>
          <input [(ngModel)]="upsertEmployee.lastName" formControlName="lastName" [ngClass]="{'form-submitted': formSubmitted}" required name="lastName" class="form-control" id="lastName" placeholder="Last Name">
        </div>
      </div>



      <h4>Dependent Info</h4>
      <div class="border-bottom mb-3">
        <div class="row">
          <div class="form-check mb-2 ml-3">
            <input type="checkbox" [(ngModel)]="isMarried" formControlName="isMarried" class="form-check-input" id="isMarried" name="isMarried">
            <label class="form-check-label" for="hasSpouse">Married?</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="spouseFirstName">Spouse First Name</label>
            <input [attr.disabled]="isMarried ? null : 'disabled'" class="form-control" [ngClass]="{'form-submitted': formSubmitted}" formControlName="spouseFirstName" [(ngModel)]="upsertEmployee.spouse.firstName" id="spouseFirstName" name="spouseFirstName" placeholder="Spouse First Name">
          </div>
          <div class="form-group col-6">
            <label for="spouseLastName">Spouse Last Name</label>
            <input [attr.disabled]="isMarried ? null : 'disabled'" class="form-control" id="spouseLastName" [ngClass]="{'form-submitted': formSubmitted}" formControlName="spouseLastName" [(ngModel)]="upsertEmployee.spouse.lastName" name="spouseLastName" placeholder="Spouse Last Name">
          </div>
        </div>
      </div>


      <h5>Other Dependents</h5>
      <div class="row">
        <div class="form-group col-5">
          <label for="newDependentFirstName">First Name</label>
          <input name="dependentFirstName" [(ngModel)]="newDependent.firstName" formControlName="dependentFirstName" class="form-control" id="newDependentFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-5">
          <label for="newDependentLastName">Last Name</label>
          <input name="dependentLastName" [(ngModel)]="newDependent.lastName" formControlName="dependentLastName" class="form-control" id="newDependentLastName" placeholder="Last Name">
        </div>
        <div class="form-group col-2 align-self-bottom">
          <button type="button" class="btn btn-secondary form-control" (click)="addDependent()">Add</button>
        </div>
      </div>

      <div class="row ml-1">
        <table class='table table-striped' aria-labelledby="tableLabel">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dependent of upsertEmployee.dependents">
              <td>{{ dependent.firstName }} {{ dependent.lastName }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-danger float-right" (click)="removeDependent(dependent)">Remove</button>
              </td>
            </tr>
            <tr *ngIf="upsertEmployee.dependents.length === 0">
              <td colspan="2" class="text-center">
                <em>Add any additional dependents above.</em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6">
      <h4>Benefits Breakdown</h4>
      <table class='table table-bordered table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Item</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="scenarioEmployee">
            <tr>
              <td>Pay Rate</td>
              <td>{{scenarioEmployee.periodPayRate | number:'.2-2'}}</td>
            </tr>
            <tr>
              <td>Base Cost/Yr</td>
              <td>{{scenarioEmployee.yearlyBaseBenefitsCost | number:'.2-2'}}</td>
            </tr>
            <tr>
              <td>Employee Discount</td>
              <td>{{scenarioEmployee.discountApplied ? '10%' : '0%'}}</td>
            </tr>
            <tr *ngIf="isMarried">
              <td>Spouse Base Cost/Yr</td>
              <td>{{scenarioEmployee.spouse.yearlyBaseBenefitsCost | number:'.2-2'}}</td>
            </tr>
            <tr *ngIf="isMarried">
              <td>Spouse Discount</td>
              <td>{{scenarioEmployee.spouse.discountApplied ? '10%' : '0%'}}</td>
            </tr>
            <ng-container *ngFor="let dependent of scenarioEmployee.dependents; let i = index">
              <tr>
                <td>Dependent {{i + 1}} Base Cost/Yr</td>
                <td>{{dependent.yearlyBaseBenefitsCost | number:'.2-2'}}</td>
              </tr>
              <tr>
                <td>Dependent {{i + 1}} Discount</td>
                <td>{{dependent.discountApplied ? '10%' : '0%'}}</td>
              </tr>
            </ng-container>
            <tr class="bg-warning">
              <td><strong>Net Cost/Yr</strong></td>
              <td><strong>{{scenarioEmployee.totalYearlyNetBenefitsCost | number:'.2-2'}}</strong></td>
            </tr>
            <tr class="bg-success">
              <td><strong>Net Cost/Pay Period</strong></td>
              <td><strong>{{scenarioEmployee.payPeriodNetBenefitsCost | number:'.2-2'}}</strong></td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!scenarioEmployee">
            <tr>
              <td colspan="2" class="text-center">
                <em>Complete all required fields.</em>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>
